---
Title: Cake.Gitter
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Gitter is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the posting of messages to Gitter.
    </p>
</div>